@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h1 class="display-3">@ViewData["Title"]</h1>

<p class="display-6">This is a simple ToDo list app</p>
<section>
    To add a new ToDo just double click on the day of your desire. After that, fill out the form and click save button. <br/>
    You can edit and view ToDo by clicking it once. You can also change the day of todo by dragging it.
</section>
